@model Healthy_Me.Models.NutritionProfile

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NutritionProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="foodAllergies" class="control-label"></label>
                <input asp-for="foodAllergies" class="form-control" />
                <span asp-validation-for="foodAllergies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="goal" class="control-label"></label>
                <input asp-for="goal" class="form-control" />
                <span asp-validation-for="goal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startingWeight" class="control-label"></label>
                <input asp-for="startingWeight" class="form-control" />
                <span asp-validation-for="startingWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endingWeight" class="control-label"></label>
                <input asp-for="endingWeight" class="form-control" />
                <span asp-validation-for="endingWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
