@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("https://i.postimg.cc/zvLhxttn/sport-active-running-fitness-background-1220-1011.jpg");
        background-size: cover;
    }
    .bodyText {
        color: black;
        font-family: Arial;
    }

    .TextTop {
        font-size: 20px;
        position: absolute;
    }

    .TextBottom {
        font-size: 50px;
        font-weight: 700;
        position: relative;
        top: 10px;
        right: 5px;
    }

    .signUP {
        border: 1.3px solid;
        width: 112px;
        border-color: red;
        font-weight: 700;
        color: red;
        position: relative;
        bottom: 10px;
        left: 150px;
    }
</style>
<script>
    function blinker() {
        $('.blinking').fadeOut(500);
        $('.blinking').fadeIn(500);
    }
    setInterval(blinker, 1000);
</script>

<body>
</body>
<div class="bodyText">
    <p class="TextTop">Fitness &amp; Meal-prep</p>
    <p class="TextBottom">HEALTHY ME</p>
    <div class="blinking"><p class="signUP">&nbsp;SIGN-UP NOW!&nbsp;</p></div>
</div>
